* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:rgb(210, 217, 222);
}

:root{
    --BORDERCOLOR: rgb(130, 130, 130);
    --HIGHLIGHTEDTABCOLOR: rgb(100, 167, 168);
    --CODEAREACOLOR: ;
    --FILENAVAREACOLOR: ;

    --INSIDESHADOW: rgba(20, 19, 19, 0.66);
}

body{
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    padding:0;
    margin:0;
    background-color: green;
}

#root{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    background-color: black;
}

.resume-container{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    display: grid;
    grid-template-rows: 5vh 5vh 80vh 10vh;
    grid-template-columns: 3vw 17vw 80vw;
}

/* HEADER SECTION */
.head-bar{
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: #221f1f;
    border-bottom: 0.1px solid var(--BORDERCOLOR);
}
.dev-header{
    position: absolute;
    top:1vh;
    background-color: black;
    border-radius: 4vh;
    width: 20vw;
    height:3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Name-header{
    position: absolute;
    top:1vh;
    right: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
}

/* SIDE BAR */
.side-bar{
    grid-row: 2/5;
    grid-column: 1/2;
    background-color: #252526;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  space-between
}
.side-bar-top{
    display: flex;
    flex-direction: column;
}
.fileiconimage{
    margin-top: 1rem;
    margin-right: 0;
    padding-right: 0.4rem;
    padding-left: 0.1rem;
    display: block;
    opacity: 0.8;
}
.selected-section{
    /* background-color: rgba(240, 248, 255, 0.271); */
    border-left: 6px solid rgb(100, 167, 168);
    opacity: 1;
}


.Console{
    grid-row: 4/5;
    grid-column: 3/4;
    background-color: black;
/*     border-bottom: 0.1px solid var(--BORDERCOLOR); */
    border-top: 0.1px solid var(--BORDERCOLOR);
 /*    border-right: 0.1px solid var(--BORDERCOLOR); */
}
.codearea{
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: 	rgb(12, 17, 23);
    overflow-x: auto;
}

.basicbox{
    background-color: #323232;
    box-shadow: 4px 4px 5px 5px rgb(22, 21, 21);
    min-height: 200px;
    min-width: 600px;
    max-width: 60%;
    width:auto;
    height: auto;

    margin: 4vh;
    border-radius: 0.7vh;

    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
}


/* EXPERIENCE SECTION */
.single-xp{
    width:80%;
    background-color: rgb(45, 53, 58);
    box-shadow: 2px 2px 2px 2px var(--INSIDESHADOW);
    padding: 1rem;
    border-radius: 1vh;
    margin-bottom: 1rem;
}


/* FILE-NAV */
.file-bar{
    grid-row: 2/5;
    grid-column: 2/3;
    background-color: #1e1e1e;
    border-top: 0.1px solid var(--BORDERCOLOR);
    border-left: 0.1px solid var(--BORDERCOLOR);
    border-right: 0.1px solid var(--BORDERCOLOR);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filebar-title{
    background-color: #252525;
    border-bottom: 0.5px solid var(--BORDERCOLOR);
    align-self: flex-start;
    display: block;
    width: 100%;
}

.filebar-item{
    width:100%;
    text-align: center;
    height: 5%;
    border-radius: 1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filebar-item:hover{
    background-color: rgba(240, 248, 255, 0.078);
}

.selected-file{
    background-color: rgba(240, 248, 255, 0.186);
    border-left: 4px solid rgb(100, 167, 168);
}
.selected-file:hover{
    background-color: rgba(240, 248, 255, 0.186);
    border-left: 4px solid rgb(100, 167, 168);
}

.themesection{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.theme-item{
    width:80%;
    height: 10%;
    background-color: rgb(255, 0, 0);
}

/* TABS */

.tabs{
    grid-row: 2/3;
    grid-column: 3/4;
    background-color: rgb(20, 20, 20);
    
    display: flex;
    flex-direction: row;
}
.tab-item{
    position: relative;
    min-width: 3vw;
    width: auto;
    height: auto;
    padding: 1rem;
    padding-right: 0.3rem;
    text-wrap: nowrap;
    text-align: center;
    font-size: 70%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-right: 0.5px solid var(--BORDERCOLOR);
    border-bottom: 0.5px solid var(--BORDERCOLOR);
}

.tab-item:hover{
    background-color: rgba(240, 248, 255, 0.095);
}

.tab-item:hover img{
    opacity: 1;
}

.selected-tab{
    background-color: 	rgb(12, 17, 23); /* intentionally put the same as code area */
    border-bottom: none;
    border-top: 4px solid rgb(100, 167, 168);
}
.selected-tab:hover {
    background-color: 		rgb(12, 17, 23);
}

.close-icon{
  /*   position: absolute;
    right: 2px;
    top:2px; */
    opacity: 0;
    margin-right: 0;
    /* width: 5px;
    height: 5px; */
}
.close-icon:hover{
    background-color: rgba(240, 248, 255, 0.322);
}

.remainingarea-tab{
    flex-grow: 1;
    border-bottom: 0.5px solid var(--BORDERCOLOR);
}